.seccion-quienes-somos{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 15%;
    background-repeat:no-repeat;
    border-radius: 10px;
    align-items: self-start;

}
.subtitulo{
    color: beige;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 26px;
}
.contenedor-quienes-somos{
    width: 70%;
    display: flex;
    margin-bottom: 10%;
    justify-content: center;
    align-items: center;
    color: beige;
    font-style: italic;
}

.vision{
    width: 250px;
    height: 150px;
    margin-left: 10%;
}

.carrusel { 
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
    align-items: center;
    margin-top: 10%;
  }
  
  .carrusel-contenedor {
    display: flex;
    width: calc(100% * 6);
    animation: desplazamiento 15s infinite linear;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
  
  .imagen-carrusel{
    width: 310px;
    height: 170px;
    margin: 0 10px 0 10px;

  }
  
  @keyframes desplazamiento {
    0% {
      transform: translateX(0%);
    }
    16.66% {
      transform: translateX(-10%);
    }
    33.33% {
      transform: translateX(-30%);
    }
    50% {
      transform: translateX(-50%);
    }
    66.66% {
      transform: translateX(-70%);
    }
    83.33% {
      transform: translateX(-120%);
    }
    100% {
      transform: translateX(-150%);
    }
  }
  